@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

.SmallInput {
    display: flex;
    flex-direction: row;
}

.FirstInput {
    margin-right: 40px;
}
