@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

.FormControl {
    display: flex;
    flex-direction: row;
}

.DetailContainer {
    width: 450px;
    height: 100vh;
    padding: 40px;
    background-color: #E1DAFC;
    background-image: url(/detail-image.svg)
}

.LogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#TitleLogo,
#SubtitleLogo {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
}

#TitleLogo {
    margin-left: 15px;
    margin-right: 10px;
    color: #01000D;
}

#SubtitleLogo {
    color: #6947EF;
}

#Divider {
    margin-left: 50px;
    margin-right: 50px;
    width: 3px;
    height: 550px;
    background-color: #AAAA;
}


.MainContainer {
    display: flex;
    flex-direction: row;
    margin: 40px 60px 0px 80px;
}


.FormActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ButtonIcons {
    margin-right: -8px;
    font-size: 24px;
    color: white;
}

#SendIcon {
    margin-left: 15px;
}

#PreviousButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 40px;
    width: 100px;

    border: none;
    color: #5A5A5A;
    background-color: #EBEBEB;
    border-radius: 8px;
}

#PreviousIcon {
    margin-left: -9px;
    font-size: 24px;
}

#LinkButton {
    text-decoration: none;
    transition: scale .8s;
}

#LinkButton:hover {
    scale: 104%;
}

#NextButton,
#SendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 40px;
    width: 150px;

    border: none;
    color: aliceblue;
    background-color: #6947EF;
    border-radius: 8px;

}

.TextButton {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
